<mat-grid-list cols="6" rowHeight="100%">
  <mat-grid-tile [colspan]="2" [style.background]="'lightblue'">
    <div style="width: 100%;">
      <mat-list *ngFor="let movie of setMovies() | async ">
        <mat-list-item>
          <app-movie-item style="width: 100%; " (click)="movieDetail(movie.id)" [title]="movie.title"
            [releaseDate]="movie.releaseDate">
          </app-movie-item>
          <mat-icon aria-hidden="false">trash</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'lightgreen'">
    <div *ngIf="movie">
      <app-movie-detail style="width: 100%;" [movie]="movie | async"></app-movie-detail>
    </div>

  </mat-grid-tile>
</mat-grid-list>
